<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon immeuble</title>
    <link rel="stylesheet" href="/main_tenant.css">
    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>    

  </head>
  
  <body>
    <%- include(sidebar) %>
    <section class="home_section" id="content-section">
      <%- include(topbar) %>
      <%- include(cardboxes) %>
      <div class="details">
        <%- include(setpwd) %>
        <%- include(myreceipts) %>
        <%- include(requirereceipt) %>
      </div>
    </section>

    <script src="/public/endpoints.js"></script>
    <script src="/public/renewAccessToken.js"></script>
    <script src="/public/cookiesEngine.js"></script>
    <script src="/public/variablesState.js"></script>
    
    <script src="/tenant/tenant-setPwd.js"></script>
    <script src="/tenant/tenant-getUnvalidReceipt.js"></script>
    <script src="/tenant/tenant-getValidReceipt.js"></script>
    <script src="/tenant/tenant-requireReceiptRequest.js"></script>
    <script src="/tenant/tenant-getTenantProperty.js"></script>
    <script src="/tenant/tenant-receiptMonthHelper.js"></script>
    <script src="/tenant/tenant-getValidReceipt.js"></script>
    <script src="/tenant/tenant-myMessages.js"></script>
    <script src="/tenant/tenant-sendMessage.js"></script>
    <script src="/tenant/tenant-deleteMessage.js"></script>

    <script src="/tenant/tenant-frontPartChanger.js"></script>
  </body>
</html>
