<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion d'immeubles</title>
    <link rel="stylesheet" href="/main.css">
    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    

  </head>
  
  <body>
    <%- include('sidebar') %>
    <section class="home_section" id="content-section">
      <%- include('topbar') %>
      <%- include('cardboxes') %>
      <div class="details">
        <%- include('recentpayments') %>
        <%- include('newcustomers') %>
      </div>
    </section>

    <script src="/owner/endpoints.js"></script>
    <script src="/owner/renewAccessToken.js"></script>
    <script src="/owner/cookies_engine.js"></script>
    <script src="/owner/variablesState.js"></script>
    <script src="/owner/update_sold_utils.js"></script>
    <script src="/owner/getUnvalidReceipt.js"></script>
    <script src="/owner/getrecenttenants.js"></script>
    <script src="/owner/ownerUtil.js"></script>
    <script src="/owner/createPropertyRequest.js"></script>
    <script src="/owner/getPropertiesRequest.js"></script>
    <script src="/owner/createTenant.js"></script>
    <script src="/owner/getTenantProperty.js"></script>
    <script src="/owner/getalltenants.js"></script>
    <script src="/owner/showModalTenant.js"></script>
    <script src="/owner/requirereceiptrequest.js"></script>
    <script src="/owner/getValidReceipt.js"></script>

   
    <script src="/owner/front_part_changer.js"></script>
  </body>
</html>
