<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion d'immeubles</title>
    <link rel="stylesheet" href="/main_owner.css">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <%- include(sidebar) %>
    <section class="home_section" id="content-section">
      <%- include(topbar) %>
      <%- include(cardboxes) %>
      <div class="details">
        <%- include(recentpayments) %>
        <%- include(newcustomers) %>
      </div>
    </section>

    <!-- Inclure le nonce dans les scripts inline -->
    <script nonce="<%= nonce %>">
      // Exemple de code inline
      console.log('Ce script utilise un nonce.');
    </script>

    <!-- Inclure les scripts externes -->
    <script src="/public/endpoints.js"></script>
    <script src="/public/renewAccessToken.js"></script>
    <script src="/public/cookies_engine.js"></script>
    <script src="/public/variablesState.js"></script>
    <script src="/owner/owner_update_sold_utils.js"></script>
    <script src="/owner/owner_getUnvalidReceipt.js"></script>
    <script src="/owner/owner_validateReceiptLogic.js"></script>
    <script src="/owner/owner_getrecenttenants.js"></script>
    <script src="/owner/owner_ownerUtil.js"></script>
    <script src="/owner/owner_createPropertyRequest.js"></script>
    <script src="/owner/owner_getPropertiesRequest.js"></script>
    <script src="/owner/owner_createTenant.js"></script>
    <script src="/owner/owner_getTenantProperty.js"></script>
    <script src="/owner/owner_getalltenants.js"></script>
    <script src="/owner/owner_showModalTenant.js"></script>
    <script src="/owner/owner_requirereceiptrequest.js"></script>
    <script src="/owner/owner_getValidReceipt.js"></script>
    <script src="/owner/owner_myMessages.js"></script>
    <script src="/owner/owner_sendMessage.js"></script>
    <script src="/owner/owner_deleteMessage.js"></script>
    <script src="/owner/owner_front_part_changer.js"></script>
  </body>
</html>
