<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Extase-Home - Gestion de Logement et Confort de Maison</title>
    <meta name="description" content="Extase-Home offre des solutions de gestion de logement alliant luxe et confort moderne. Découvrez nos services de gestion immobilière.">
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/main-owner.css">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' https://fonts.gstatic.com https://unpkg.com; style-src 'self' https://fonts.googleapis.com https://unpkg.com; style-src-elem 'self' https://fonts.googleapis.com https://unpkg.com""> -->

  </head>
  
  <body>
    <%- include(sidebar) %>
    <section class="home-section" id="content-section">
      <%- include(topbar) %>
      <%- include(cardboxes) %>
      <div class="details">
        <%- include(recentPayments) %>
        <%- include(recentTenants) %>
      </div>
    </section>

    <!-- Inclure les scripts externes -->
    <script src="/public/endpoints.js"></script>
    <script src="/public/variablesState.js"></script>
    <script src="/owner/owner-updateSoldUtils.js"></script>
    <script src="/owner/owner-getUnvalidReceipt.js"></script>
    <script src="/owner/owner-validateReceiptLogic.js"></script>
    <script src="/owner/owner-getRecentTenants.js"></script>
    <script src="/owner/owner-ownerUtil.js"></script>
    <script src="/owner/owner-createPropertyRequest.js"></script>
    <script src="/owner/owner-getPropertiesRequest.js"></script>
    <script src="/owner/owner-createTenant.js"></script>
    <script src="/owner/owner-getTenantProperty.js"></script>
    <script src="/owner/owner-getAllTenants.js"></script>
    <script src="/owner/owner-showModalTenant.js"></script>
    <script src="/owner/owner-requireReceiptRequest.js"></script>
    <script src="/owner/owner-getValidReceipt.js"></script>
    <script src="/owner/owner-getRecentMessages.js"></script>
    <script src="/owner/owner-myMessages.js"></script>
    <script src="/owner/owner-sendMessage.js"></script>
    <script src="/owner/owner-deleteMessage.js"></script>
    <script src="/owner/owner-receiptMonthHelper.js"></script>
    <script src="/owner/owner-uploadImage.js"></script>
    <script src="/owner/owner-accessReceipt.js"></script>
    <script src="/owner/owner-insertSubscription.js"></script>
    <script src="/owner/owner-frontendManager.js"></script>
  </body>
</html>
