<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>Extase-Home - Gestion de Logement et Confort de Maison</title>
    <meta
      name="description"
      content="Extase-Home offre des solutions de gestion de logement alliant luxe et confort moderne. Découvrez nos services de gestion immobilière."
    />
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main-tenant.css" />
    <!-- box icon -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include(sidebar) %>
    <section class="home-section" id="content-section">
      <%- include(topbar) %> <%- include(cardboxes) %>
      <div class="details">
        <%- include(setPwd) %> <%- include(myReceipts) %> <%-
        include(requireReceipt) %>
      </div>
    </section>

    <script src="/public/endpoints.js"></script>
    <script src="/public/variablesState.js"></script>
    <script src="/public/validatePwd.js"></script>

    <script src="/tenant/tenant-setPwd.js"></script>
    <script src="/tenant/tenant-getUnvalidReceipt.js"></script>
    <script src="/tenant/tenant-getValidReceipt.js"></script>
    <script src="/tenant/tenant-requireReceiptRequest.js"></script>
    <script src="/tenant/tenant-getTenantProperty.js"></script>
    <script src="/tenant/tenant-updateProfile.js"></script>
    <script src="/tenant/tenant-receiptMonthHelper.js"></script>
    <script src="/tenant/tenant-getValidReceipt.js"></script>
    <script src="/tenant/tenant-myMessages.js"></script>
    <script src="/tenant/tenant-sendMessage.js"></script>
    <script src="/tenant/tenant-deleteMessage.js"></script>
    <script src="/tenant/tenant-accessReceipt.js"></script>
    <script src="/tenant/tenant-frontendManager.js"></script>
  </body>
</html>
